name: License

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    license-header-check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
              with:
                  go-version: "^1.17.0"
            - name: Install addlicense
              run: go install github.com/google/addlicense@latest
            - name: Run addlicense
              run: addlicense -f ./addlicense -check $(find . -name "*.go" -type f -print0 | xargs -0)
